@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

@import "./assets/styles/base/main";

@import "./assets/styles/components/animeCard";
@import "./assets/styles/components/header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Bangers", cursive;
}
